@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
}

/*-------------HEADER-------------*/

header{
    background-color: black;
    height: 4rem;
}

.logo{
    margin: 1rem;
    float: left;
}

/*--------------------------------*/

/*-------------NAV----------------*/

.topnav ul{
    margin: 0;
    padding: 0;
}

.topnav li{
    margin: 0;
    padding: 0;
    display: inline;
}

.topnav a{
    text-decoration: none;
    color: white;
    font-family: futura;
    font-weight: lighter;
}

.topnav a, 
.topnav a:link,
.topnav a:visited {
    display: inline-block;
    margin: 0;
    padding: 1.5rem 3%;
    color: white;
    text-decoration: none;
}

.topnav a:hover{
    color: pink;
}

/*--------------------------*/

/*---Home page image & About us banner---*/
.BoldRed{
    width:100%;
    margin-top:-1rem;
    margin-bottom:-2rem;
}

.banner{
    width: 100%;
    margin-bottom: 3rem;
}

.aboutus{
    width: 100%;
    border: 5px solid black;
}
/*--------------------------*/

/*--------Headers-----------*/
h1{
    margin: 3 0 0rem;
    padding: 0.4rem;
    text-align: center;
    font-family: futura;
    font-weight: 500;
    font-size: 1.6rem;
    color: white;
    background-color: #000;
}

h2{
    font-family: futura;
    font-weight: lighter;
    font-size: 1.3rem;
    text-align: center;
}

.productheader{
    font-family: "Futura";
    font-weight: lighter;
    font-size: 2rem;
    color: black;
    background-color: white;
}

.producth2{
    font-size: 1.7rem;
    font-family: "Futura";
    background-color: black;
    color: white;
    padding: .5rem;
    margin-top: -2rem;
}

.ourstory p{
    font-family: "Futura";
    background-color: white;
    border: solid 2px black;
    padding: 1rem;
}
/*--------------------------*/

/*----Homepage smudge img---*/
.lip{
    margin-left: 2.2rem;
    width: 80%;
}
/*------------------------------*/


/*-------Home Page Image Caption----------*/
figure{
    margin: 0 auto 1rem;
    padding: 1.2rem;
    width: 100%;   
}

figure a,
figure a:link,
figure a:visited {
    font-size: 1rem;
    font-family: "Arial Black","Arial Bold",Gadget,sans-serif;
    color: black;
    text-decoration: none;
    text-align: center;
}
/*------------------------------*/

/*-----------Products-----------*/
.powder{
    width:75%;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.eyeshadow{
    width:75%;
    padding-bottom: -1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.foundation{
    width: 35%;
    margin-left: 4rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.eyeliner{
    width: 25%;
    margin-left: 5.2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.lipgloss{
    width: 25%;
    margin-left: 4.8rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.blush{
    width: 83%;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.mascara{
    margin-left: 2rem;
    margin-top: 2rem;
}

.productsul ul{
    font-size:1.2rem;
    font-family: "Futura";
    font-weight: lighter;
}
/*------------------------------*/

/*----------Footer------------*/
footer{
    margin:0;
    padding: 1.5rem 5% 1.6rem;
    background-color: #000;
}

.icons img{
    width:20%;
    height: auto;
}

.terms{
    color: #808284;
    text-align: center;
    font-family: futura;
    font-weight: lighter;
    font-size: 0.6rem;
}

.bottomnav ul{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.bottomnav li{
    display: inline;
}

.bottomnav a,
.bottomnav a:link,
.bottomnav a:visited {
    color: #808284;
    text-decoration: none;
    font-size: 1rem;
    font-family: futura;
    font-weight: lighter;
    line-height: 1.5rem;
    display: inline block;
}
/*------------------------------*/